html {
  background: $bodyBorderColor;
}

html:before,
html:after,
body:before,
body:after {
  position: fixed;
  pointer-events: none;
  content: '';
  background: $bodyBorderColor;
  z-index: $z-indexFixedBorders;
}

body:after {
  left: $bodyBorderWidth;
  right: $bodyBorderWidth;
  bottom: 0;
  height: $bodyBorderWidth;
}

html:before {
  left: 0;
  top: 0;
  bottom: 0;
  width: $bodyBorderWidth;
}

html:after {
  right: 0;
  top: 0;
  bottom: 0;
  width: $bodyBorderWidth;
}

.no-scroll {
  overflow: hidden;
}

.page-wrap {
  background: #fff;
}
