html {
  background: $bodyBorderColor;
}

html:before,
html:after,
body:before,
body:after {
  position: fixed;
  pointer-events: none;
  content: '';
  background: $bodyBorderColor;
  z-index: $z-indexFixedBorders;
}

body:before {
  left: $bodyBorderWidth;
  right: $bodyBorderWidth;
  top: 0;
  height: $bodyBorderWidth;
  z-index: $z-indexFixedBorderBottom;
}

body:after {
  left: $bodyBorderWidth;
  right: $bodyBorderWidth;
  bottom: 0;
  height: $bodyBorderWidth;
  z-index: $z-indexFixedBorderBottom;
}

html:before {
  left: 0;
  top: 0;
  bottom: 0;
  width: $bodyBorderWidth;
}

html:after {
  right: 0;
  top: 0;
  bottom: 0;
  width: $bodyBorderWidth;
}

.no-scroll {
  overflow: hidden;
}

.page-wrap {
  background: #fff;
}

.page-main {
  margin: 0 $baseUnit/1.5;
  @include media($breakLaptop) {
    margin: 0 $baseUnit;
  }
}

.page-author,
.page-comments,
.page-footer {
  padding: $baseUnit*2 $baseUnit;
  background: $colorMain;
  color: #fff;
  position: relative;
  z-index: $z-indexPageAuthor;
}

.page-footer {
  padding: $baseUnit $baseUnit;
}

.page-comments {
  padding-top: 0;
  padding-bottom: 0;
  color: inherit;
  &__inner {
    background: #fff;
    padding: $baseUnit;
  }
}
