.big-list {
  font-family: $fontSecondary;
  @include font-size($headingSize3);
  list-style: none;
  margin: 0;
  padding-bottom: ceil($baseUnit*2);

  > li {
    padding: ceil($baseUnit/2) 0;
    border-top: $baseBorder;
    margin: 0;
    > a {
      display: block;
      color: #000 !important; //to overwrite pageColors
      &:hover {
        text-decoration: none;
      }
    }
  }

  > li:last-child {
    border-bottom: $baseBorder;
  }

  a:hover &__title {
    text-decoration: underline;
  }
}

.big-list--darkbg {
  > li {
    border-top: $baseBorderLight;
    > a {
      color: #FFF !important; //to overwrite pageColors
    }
  }

  > li:last-child {
    border-bottom: $baseBorderLight;
  }
}
