/**
 * Big list component. Used to display post titles on frontpage and
 * header-archive.
 */
.big-list {
  font-family: $fontSecondary;
  @include font-size($headingSize3);
  list-style: none;
  margin: 0;
  padding-bottom: ceil($baseUnit*2);

  > li {
    border-top: $baseBorder;
    margin: 0;
    padding: 0;
    > a {
      padding: ceil($baseUnit/2) 0;
      display: block;
      color: #000 !important; //to overwrite pageColors
      &:hover {
        text-decoration: none;
      }
    }
  }

  > li:last-child {
    border-bottom: $baseBorder;
  }

  a:hover &__title {
    text-decoration: none;

    background-image:
      linear-gradient(to right, #fff, #fff),
      linear-gradient(to left, #fff, #fff),
      linear-gradient(black, black);
    background-size: .03em .1em, .03em .1em, .1em .1em;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 90%, 100% 90%, 0% 90%;

    text-shadow:
      -.045em .045em 0 #fff,
      -.045em -.045em 0 #fff,
      .045em -.045em 0 #fff,
      .045em .045em 0 #fff,
      0 .045em 0 #fff,
      -.045em 0 0 #fff,
      .045em 0 0 #fff,
      0 -.045em 0 #fff,
      -.025em .045em 0 #fff,
      -.025em -.045em 0 #fff,
      .025em -.045em 0 #fff,
      .025em .045em 0 #fff,
      -.045em .025em 0 #fff,
      -.045em -.025em 0 #fff,
      .045em -.025em 0 #fff,
      .045em .025em 0 #fff;

    &::selection {
      text-shadow: none;
      background: #b5d6fa;
    }


    &::-moz-selection {
      text-shadow: none;
      background: #b5d6fa;
    }
  }
}

.big-list--darkbg {
  > li {
    border-top: $baseBorderLight;
    > a {
      color: #FFF !important; //to overwrite pageColors

      &:hover {
        .big-list__title {
          transition: text-shadow $pageColorTransitionDuration;
          text-decoration: none;
          @each $color, $hex in $pageColors {
            .color--#{$color} & {
              text-shadow:
                -.045em .045em 0 $hex,
                -.045em -.045em 0 $hex,
                .045em -.045em 0 $hex,
                .045em .045em 0 $hex,
                0 .045em 0 $hex,
                -.045em 0 0 $hex,
                .045em 0 0 $hex,
                0 -.045em 0 $hex,
                -.025em .045em 0 $hex,
                -.025em -.045em 0 $hex,
                .025em -.045em 0 $hex,
                .025em .045em 0 $hex,
                -.045em .025em 0 $hex,
                -.045em -.025em 0 $hex,
                .045em -.025em 0 $hex,
                .045em .025em 0 $hex !important;
              background-image:
              linear-gradient(to right, $hex, $hex),
              linear-gradient(to left, $hex, $hex),
              linear-gradient(#fff, #fff) !important;
            }
          }
        }
      }
    }
  }

  > li:last-child {
    border-bottom: $baseBorderLight;
  }
}
