.big-list {
  font-family: $fontSecondary;
  @include font-size($headingSize3);
  list-style: none;
  margin: 0;
  padding-bottom: $baseUnit*2;

  > li {
    padding: $baseUnit/2 0;
    border-top: $baseBorder;
    margin: 0;
    > a {
      color: #000;
    }
  }

  > li:last-child {
    border-bottom: $baseBorder;
  }
}

.big-list--darkbg {
  > li {
    border-top: $baseBorderLight;
    > a {
      color: #FFF;
    }
  }

  > li:last-child {
    border-bottom: $baseBorderLight;
  }
}
