.buzz-wrap {
  opacity: 0;
  transition: .3s;
  &--active {
    opacity: 1;
  }
}

.disqus-comment-count {
  display: none;
}

.buzz--frontpage {
  font-family: sans-serif;
  @include font-size(21px,false);
  margin-left: $baseUnit/4;
  white-space: nowrap;
  line-height: 1.5;
}
