.buzz-wrap {
  opacity: 0;
  transition: .3s;
  white-space: nowrap;
  &--active {
    opacity: 1;
  }
}

.disqus-comment-count {
  display: none;
}

.buzz--frontpage {
  font-family: sans-serif;
  font-size: 21px; // when setting the fontsize in rem (fontsize mixin) emojis wont be displayed on smaller devices o_O
  margin-left: $baseUnit/4;
  white-space: nowrap;
  line-height: 1;
}
