/**
 * '.content-swap' component is used to switch from post title to
 * "post archive" headline in headerarchive transition. Not to be 
 * confused with _reveal.scss
 */
.content-swap {
  position: relative;
  &,
  &__original,
  &__swap {
    display: block;
  }
  &__original,
  &__swap {
    transition: .3s 1.2s;
  }
  &__swap {
    position: absolute;
    left:0;
    top: 0;
    transform: translateY(25%);
    visibility: hidden;
    opacity: 0;
    transition: .0s .3s;
  }
}

.header-archive--active .header-archive__content-swap,
.content-swap--hover:hover {
  .content-swap__original {
    transform: translateY(-25%);
    opacity: 0;
    transition: .0s .3s;
  }
  .content-swap__swap {
    transform: translateY(10%);
    visibility: visible;
    opacity: 1;
    transition: .3s 1.2s;
  }
}
