.headline {
  font-family: $fontSecondary;
}

.headline--darkbg {
  color: #fff;
}

.headline--upper {
  text-transform: uppercase;
  font-weight: 600;
}

.headline--spaced {
  letter-spacing: .25em;
}

.headline--light {
  opacity: .5;
}

.headline--seperated {
  padding-bottom: $baseUnit;
  border-bottom: $baseBorder;
}

.headline--maincolor {
  color: $colorMain;
}
