.headline {
  font-family: $fontSecondary;
}

.headline--darkbg {
  color: #fff;
}

.headline--upper {
  text-transform: uppercase;
  font-weight: 600;
}

.headline--spaced {
  letter-spacing: .25em;
  opacity: .5;
}

.headline--maincolor {
  color: $colorMain;
}
