.header-archive {
  position: fixed;
  z-index: $z-indexFixedHeaderNav;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: $colorMain;
  transition: .3s .3s;
  &__nav {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    transition: .3s;
    box-shadow: 0 $bodyBorderWidth 0 $colorMain;
  }

  &--visible {
    .header-archive__nav {
      transform: translateY(100%);
    }
  }

  &--active {
    transform: translateY(100%);
    .header-archive__nav {
      transform: translateY(0);
    }
  }
}

// Alter title bar used inside header-archive;
// see also: _title-bar.scss

.header-archive__title-bar {
  background-color: #fff;
}
