/**
 * Icons.
 */
.icon--penrose {
  width: 120px;
  height: 109px;
}

.icon--penrose-small,
.icon--penrose-small-dark, {
  width: 40px;
  height: 37px;
}

.icon--penrose {
  display: inline-block;
  vertical-align: middle;
}

.icon--penrose-small,
.icon--penrose-small-dark, {
  display: block;
}

.icon--penrose-small {
  margin: 0 auto;
}
