.icon--penrose {
  width: 120px;
  height: 109px;
}

.icon--penrose-small {
  width: 40px;
  height: 37px;
}

.icon--penrose {
  display: inline-block;
  vertical-align: middle;
}

.icon--penrose-small {
  display: block;
}
