$colorCodeBlock: #fff;
$colorCodeBlockText: #000;

.code-block {
  position: relative;
  transition: margin .2s;
  &:before, &:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: $baseUnit;
    z-index: 100;
  }

  &:before {
    left: 0;
    background: linear-gradient(to right, rgba($colorCodeBlock, 1), rgba($colorCodeBlock, 0));
  }

  &:after {
    right: 0;
    background: linear-gradient(to left, rgba($colorCodeBlock, 1) 20%, rgba($colorCodeBlock, 0)) 100%;
  }
  // &:hover {
  //   transition: margin .2s .3s;
  //   @include media($breakDesktopWide) {
  //     margin-left: -15%;
  //     margin-right: -15%;
  //   }
  //
  //   @include media($breakDesktopWide + 200) {
  //     margin-left: -25%;
  //     margin-right: -25%;
  //   }
  // }
}

    @include media($breakDesktopWide + 200) {
      margin-left: -25%;
      margin-right: -25%;
    }
  }
}

.post-content {
  word-wrap: break-word;
  > ul, > ol {
    @include media($breakDesktopWide) {
      margin-left: 0;
    }
  }

  ul {
    list-style: none;
    > li {
      position: relative;
      &:before {
        position: absolute;
        content: '\2014';
        left: ceil(-$baseUnit/1.5);
        @include media($breakLaptop) {
          left: -$baseUnit;
        }
      }
    }
  }
  code {
    @include font-size(24px,false);
    font-family: Menlo, Courier, monospace;
  }

  pre {
    background: $colorCodeBlock;
    overflow-x: auto;
    transform: translateZ(0);
    padding: ceil($baseUnit/4) ceil($baseUnit/2);
    margin: ceil($baseUnit/4) 0;
    line-height: 1.25;
    @include media($breakTablet) {
      padding: ceil($baseUnit/2) $baseUnit;
      margin: ceil($baseUnit/2) 0;
    }
  }

  pre code {
      background: none;
      overflow-wrap: normal;
      white-space: pre;
      padding: 0;
      vertical-align: inherit;
      color: #000;
  }

  kbd {
    @include font-size(21px,false);
    padding: .1em .3em;
    vertical-align: .1em;
    box-shadow:
      0 -1px 0 rgba(0,0,0,.05) inset,
      0 0 0 1px rgba(0,0,0,.1),
      0 1px 1px rgba(0,0,0,.2),
      0 1px 2px rgba(0,0,0,.2);
    text-transform: uppercase;
    color: #333;
    border-radius: 4px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $fontSecondary;
    text-transform: uppercase;
    code {
      //vertical-align: .3em;
      font-weight: 300;
    }
  }

  h2 {
    margin-top: $baseUnit*2;
  }

  hr {
    margin: $baseUnit 0;
    border: 0;
    border-top: $baseBorder;
  }

  blockquote {
    position: relative;
    padding: ceil($baseUnit/2) $baseUnit;
    font-style: italic;
    *:last-child {
      margin-bottom: 0;
    }
  }

}
