$colorCodeBlock: #000;

.code-block {
  position: relative;
  &:before, &:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: $baseUnit;
  }

  &:before {
    left: 0;
    background: linear-gradient(to right, rgba($colorCodeBlock, 1), rgba($colorCodeBlock, 0));
  }

  &:after {
    right: 0;
    background: linear-gradient(to left, rgba($colorCodeBlock, 1) 20%, rgba($colorCodeBlock, 0)) 100%;
  }
}

.post-content {
  word-wrap: break-word;
  > ul, > ol {
    @include media($breakDesktopWide) {
      margin-left: 0;
    }
  }

  ul {
    list-style: none;
    > li {
      position: relative;
      &:before {
        position: absolute;
        content: '\2014';
        left: -$baseUnit;
      }
    }
  }
  code {
    @include font-size(21px,false);
    background: #000;
    padding: .1em .3em;
    color: #fff;
    vertical-align: .1em;
  }

  pre {
    background: $colorCodeBlock;
    overflow-x: auto;
    padding: $baseUnit/2 $baseUnit;
  }

  pre code {
      overflow-wrap: normal;
      white-space: pre;
      padding: 0;
      vertical-align: inherit;
      line-height: 1 !important;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-top: $baseUnit*3.5;
    margin-top: -$baseUnit*2;
    font-family: $fontSecondary;
    text-transform: uppercase;;
  }

  hr {
    margin: $baseUnit 0;
    border: 0;
    border-top: $baseBorder;
  }

  blockquote {
    position: relative;
    background: $colorGreyLight;
    text-indent: $baseUnit;
    padding: $baseUnit/2 $baseUnit;
    font-style: italic;
    &:before {
      position: absolute;
      content: '\201C';
      top: ceil(-$baseUnit*1);
      left: ceil(-$baseUnit*.75); // offset text-indent
      @include font-size($headingSize1 * 2, false);
      color: $colorGrey;
      font-family: $fontSecondary;
      font-style: normal;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  h1,h2,h3 {
    border-bottom: $baseBorder;
    //text-align: center;
    padding-bottom: $baseUnit;
  }

}
