$colorCodeBlock: #fff;
$colorCodeBlockText: $colorGreyDark;

.code-block {
  position: relative;
  margin-bottom: ceil($baseUnit/1.5);
  &:before, &:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: $baseUnit;
    z-index: 100;
  }

  &:before {
    left: -1px;
    background: linear-gradient(to right, rgba($colorCodeBlock, 1), rgba($colorCodeBlock, 0));
  }

  &:after {
    right: -1px;
    background: linear-gradient(to left, rgba($colorCodeBlock, 1) 20%, rgba($colorCodeBlock, 0)) 100%;
  }
  // &:hover {
  //   transition: margin .2s .3s;
  //   @include media($breakDesktopWide) {
  //     margin-left: -15%;
  //     margin-right: -15%;
  //   }
  //
  //   @include media($breakDesktopWide + 200) {
  //     margin-left: -25%;
  //     margin-right: -25%;
  //   }
  // }
}

.img-block {
  border: 1px solid $colorGreyLight;
  margin-bottom: ceil($baseUnit/1.5) + $baseUnit;

  p, img {
    margin-bottom: 0 !important; //to overwrite `.post-content p`
  }

  padding: $baseUnit;

  text-align: center;
}

.post-content {
  word-wrap: break-word;

  h1, h2, h3, h4, h5, h6,
  ul, ol, dl,
  blockquote, p, address,
  table,
  fieldset, figure,
  pre {
    @include px-to-rem(margin, 0 0 ceil($baseUnit/1.5));
  }

  > ul, > ol {
    @include media($breakDesktopWide) {
      margin-left: 0;
    }
  }

  ul {
    list-style: none;
    > li {
      position: relative;
      &:before {
        position: absolute;
        content: '\2014';
        left: ceil(-$baseUnit/1.5);
        @include media($breakLaptop) {
          left: -$baseUnit;
        }
      }
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    @include media(max-width $breakLaptop - 1) {
      &, tbody, tr {
        display: block;
      }
    }
    td {
      width: 100%;

      text-align: center;
      @include media(max-width $breakLaptop - 1) {
        text-align: left;
        display: block;
      }
    }
  }

  code {
    @include font-size(24px,false);
    font-family: Menlo, Courier, monospace;
    color: $colorCodeBlockText;
  }

  pre {
    background: $colorCodeBlock;
    overflow-x: auto;
    transform: translateZ(0);
    padding: ceil($baseUnit/4) ceil($baseUnit/2);
    margin: ceil(-$baseUnit/4) 0;
    line-height: 1.25;
    @include media($breakTablet) {
      padding: ceil($baseUnit/4) $baseUnit;
      margin: ceil(-$baseUnit/4) 0;
    }
  }

  pre code {
      background: none;
      overflow-wrap: normal;
      white-space: pre;
      padding: 0;
      vertical-align: inherit;
      color: $colorCodeBlockText;
      //@include font-size(21px,false);
  }

  kbd {
    @include font-size(21px,false);
    padding: .1em .3em;
    vertical-align: .1em;
    box-shadow:
      0 -1px 0 rgba(0,0,0,.05) inset,
      0 0 0 1px rgba(0,0,0,.1),
      0 1px 1px rgba(0,0,0,.2),
      0 1px 2px rgba(0,0,0,.2);
    text-transform: uppercase;
    color: #333;
    border-radius: 4px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $fontSecondary;
    text-transform: uppercase;
    code {
      font-weight: 300;
    }
  }

  h2 {
    margin-top: $baseUnit*2;
  }

  h2 {
    @include font-size(37px);
  }

  h3, h4, h5, h6 {
    @include font-size(28px);
  }

  hr {
    margin: $baseUnit 0;
    border: 0;
    border-top: $baseBorder;
  }

  blockquote {
    position: relative;
    padding: ceil($baseUnit/2) $baseUnit;
    font-style: italic;
    *:last-child {
      margin-bottom: 0;
    }
  }

}
