/**
 * Title bar component.
 */
.title-bar {
  position: relative;
  z-index: $z-indexFixedHeader;
  padding: ceil($baseUnit/1.75);
  @include pageColors(background-color);
  transition: background-color .2s, transform .3s;
  transition-delay: 0s .6s;

  @media print {
    display: none;
  }

  &__left,
  &__right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  // inner div to make sure title doesnt clash
  // with absolute positioned divs (left/right)
  &__inner {
    margin: 0 ceil($baseUnit*1.25 + $bodyBorderWidth);
    @include media(max-width $breakLaptop - 1) {
      margin: 0 ceil($baseUnit/1.5 + $bodyBorderWidth);
    }
  }

  &__left {
    left: ceil($baseUnit/2) + $bodyBorderWidth;
    @include media(max-width $breakLaptop - 1) {
      left: $bodyBorderWidth;
    }
  }

  &__right {
    right: ceil($baseUnit/2) + $bodyBorderWidth;
    @include media(max-width $breakLaptop - 1) {
      right: $bodyBorderWidth;
    }
  }
}

.title-bar--spaced {
  padding: ceil($baseUnit*1.25);
}

.title-bar--hidden {
  transition-delay: 0s;
  transform: translateY(-100%);
}
