.title-bar {
  position: relative;
  z-index: $z-indexFixedHeader;
  padding: $baseUnit/1.75;
  background-color: $colorMain;
  &__left,
  &__right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  // inner div to make sure title doesnt clash
  // with absolute positioned divs (left/right)
  &__inner {
    margin: 0 $baseUnit*1.25 + $bodyBorderWidth;
  }
  
  &__left {
    left: $baseUnit/2 + $bodyBorderWidth;
  }

  &__right {
    right: $baseUnit/2 + $bodyBorderWidth;
  }
}

.title-bar--hidden {
  transition-delay: 0s;
  transform: translateY(-100%);
}
