/**
 * Tooltip component.
 */
.tooltip {
  position: relative;
  &__content {
    position: absolute;
    bottom: $baseUnit;
    left: 50%;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    @include pageColors(background);
    color: #fff;
    padding: ceil($baseUnit/4) ceil($baseUnit/2);
    font-family: $fontSecondary;
    @include font-size(21px, false);
    line-height: 1.375;
    text-align: center;
    transition: all .3s, background $pageColorTransitionDuration;
    transform: translateX(-50%);
    border-left: 1px solid transparent; // bad hack in order to come around a chrome bug, that results in rendering the translated element (-50%) to blurred half-pixels...
    &:before {
      position: absolute;
      content: '';
      top: 100%;
      left: 50%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $colorMain;
      @include pageColors(border-top-color);
      transition: border-top-color $pageColorTransitionDuration;
    }
    &:after {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      right: 0;
      height: 20px;
      background: #f00;
      opacity: 0;
    }
  }
  &:hover {
    .tooltip__content {
      opacity: 1;
      visibility: visible;
    }
  }

  &__highlight {
    background: #fff;
    color: #000;
    font-style: normal;
    padding: 0 ceil($baseUnit/8);
  }
}

.tooltip--dark,
.big-list--darkbg .tooltip { // ← get rid of this line somehow?!
  .tooltip__content {
    background: #000;
    color: #FFF;
    &:before {
      border-top: 10px solid #000;
    }
  }
  .tooltip__highlight {
    transition: color $pageColorTransitionDuration;
    @include pageColors(color);
  }
}
