/**
 * style.scss
 *
 * Author: Marian Friedmann
 *
 */

/**
 * basicss overrides
 *
 * any defaults in basicss/basicss/_settings.scss
 * may be overridden...
 *
 * e.g. $prototyping: true;
 */

$navObject: true;
$gridObject: true;
$buttonObject: true;
$mediaObject: true;
$constrainObject: true;

$fontPrimary: "ff-tisa-web-pro", serif;
$fontSecondary: "futura-pt", sans-serif;

$headingSize1: 67px;
$headingSize2: 50px;
$headingSize3: 37px;
$headingSize4: 28px;
$headingSize5: 21px;
$headingSize6: 16px;

$baseFontSize: 28px;
$baseLineHeight: 42px;

$constrainSmall:   380px;
$constrainMedium:  480px;
$constrainLarge:   720px;
$constrainMax:     880px;

$baseBorder: 4px solid rgba(0,0,0,.1);
$baseBorderLight: 4px solid rgba(255,255,255,.1);

/* colors */

$colorGreyLight: #ecf0f1;
$colorGrey:      #bdc3c7;

$colorMain:     #5495FA;

$colorLink: $colorMain;

/* z-indexes */

$z-indexFixedHeader:    99999;
$z-indexFixedHeaderNav: 99998;
$z-indexFixedBorders:   99997;
$z-indexPageAuthor:   99996;
$z-indexFixedBorderBottom: 99995;


/**
 * basicss import
 */

@import 'bower_components/basicss/basicss';

$bodyBorderWidth: $baseUnit/3;
$bodyBorderColor: $colorMain;

/**
 * userstyle imports
 *
 * e.g. @import 'nav';
 */

@import 'icon';
@import 'typo';
@import 'media';

@import 'base';
@import 'title-bar';
@import 'header-archive';
@import 'big-list';
@import 'post-content';
@import 'headline';
@import 'ellipsis';
@import 'buzz';
@import 'content-swap';
@import 'rounded-image';
