/**
 * style.scss
 *
 * Author: Marian Friedmann
 *
 */

/**
 * basicss overrides
 *
 * any defaults in basicss/basicss/_settings.scss
 * may be overridden...
 *
 * e.g. $prototyping: true;
 */

$navObject: true;
$gridObject: true;
$buttonObject: true;
$constrainObject: true;

$fontPrimary: "ff-tisa-web-pro", serif;
$fontSecondary: "futura-pt", sans-serif;

$headingSize1: 67px;
$headingSize2: 50px;
$headingSize3: 37px;
$headingSize4: 28px;
$headingSize5: 21px;
$headingSize6: 16px;

$baseFontSize: 28px;
$baseLineHeight: 42px;

$constrainSmall:   380px;
$constrainMedium:  480px;
$constrainLarge:   720px;
$constrainMax:     880px;

/* colors */

$colorGreyLight: #ecf0f1;
$colorGrey:      #bdc3c7;

$colorMain:     #5495FA;
$colorMainDark: #0000FF;

$colorLink: $colorMain;

/* z-indexes */

$z-indexFixedHeaderNav: 9999999;
$z-indexFixedHeader:    9999998;
$z-indexFixedBorders:   9999997;

/**
 * basicss import
 */

@import 'bower_components/basicss/basicss';

$bodyBorderWidth: $baseUnit/3;
$bodyBorderColor: $colorMain;

/**
 * userstyle imports
 *
 * e.g. @import 'nav';
 */

@import 'icon';

@import 'base';
@import 'site-header';
@import 'headline';
@import 'ellipsis';
